<h2 mat-dialog-title>
  {{ this.data.type ? "Deposit Money" : "Withdraw Money" }}
</h2>

<mat-dialog-content class="mat-typography">
  <p>Your Current Balance {{ this.currentBal }}</p>
  <form [formGroup]="transForm">
    <mat-form-field class="w-full" appearance="outline">
      <mat-label>Amount</mat-label>
      <input matInput [formControlName]="'amount'" />
    </mat-form-field>
  </form>
  <div></div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button (click)="submit()">Submit</button>
</mat-dialog-actions>
